 

*{
    margin:0;
    padding:0;
    font-family:var(--font-inter);
    box-sizing:border-box;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
          
}

hr
{
    width:100%;
    color:gray;
    margin-top:50px;
}

.btn{

    width:120px;
    height:40px;
    border:none;
    background:none;
    font-weight:bold;

}
.button h2:hover
{
    background-color:red;
}

.frm input
{
     
    height:40px;

}

.sect2
{
    position:absolute;
    top:700px;
    left:10px;
}

 