.top
{
    height:70px;
    background-color:#13053f;
    
}

.sect
{
    min-height:90vh;
    background-size:cover;
    background-position:center;
    position:relative;
}

.navbar ul{
    overflow:hidden;
    margin/*-left*/:0/*854px*/;
    /*position:absolute;*/
    top:-20px;
    left:-300px;
    padding-left:0/*40px*/;
    background-color:#DEE3FE;
    width:100%;
    
}
.navbar ul li{
    float:left;
    list-style:none;
    margin-left:50px;
}
 
.navbar ul li a
{
    color:#13053f;
    display:block;
    text-decoration:none;
    font-size:21px;
    width:100px;
    text-align:center;
}

.navbar ul li a:hover /*change the color when the pointer .......*/
{
    background-color: #010068;
}

.ftr
{
    height:250px;
    background-color:#0B2D50;
    justify-content:space-between;
    flex-wrap:wrap;
    display:flex;
    color:#ffff;
}


.social_media img
{
    width:30px;
    margin-left:14px;
}

.quick_links ul li
{

list-style:none;
padding:10px 12px;
position:relative;

}

.quick_links ul li a
{
    text-decoration:none;
    color:#ffff;
}

.ftr_2 img
{
    width:300px;

}

hr
{
    margin:80px 40px 30px 0px;
    width:150px;
    border:2px solid #f44336;
}
.webpage_bottom
{
    background-color:#010068;
}